<launch>
    <group ns="fp_wrenchRight">
        <node name="fp_wrenchRight_publisher" pkg="testbot_description" type="fp_wrenchRight_publisher" />
    </group>
    <group ns="fp_wrenchLeft">
        <node name="fp_wrenchLeft_publisher" pkg="testbot_description" type="fp_wrenchLeft_publisher" />
    </group>
    <group ns="icub">
        <arg name="robotModel" />
        <arg name="gui" default="False" />
        <arg name="vel" default="True" />
        <arg name="eff" default="True" />
        <param name="robot_description" textfile="$(arg robotModel)"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="icub_state_publisher" pkg="testbot_description" type="icub_state_publisher" />
        <param name="publish_default_velocities"  value="$(arg vel)" />
        <param name="publish_default_effort"  value="$(arg eff)" />
    </group>
    <group ns="human">
        <arg name="humanModel" />
        <arg name="gui" default="False" />
        <arg name="vel" default="True" />
        <arg name="eff" default="True" />
        <param name="robot_description" textfile="$(arg humanModel)"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="testbot_description" type="joint_state_publisher" />
        <param name="publish_default_velocities"  value="$(arg vel)" />
        <param name="publish_default_effort"  value="$(arg eff)" />
        <node name="wrench_stamped_publisher" pkg="testbot_description" type="wrench_stamped_publisher" />
    </group>
    <group ns="icub_wrenchRight">
        <node name="icub_wrenchRight_publisher" pkg="testbot_description" type="icub_wrenchRight_publisher" />
    </group>
    <group ns="icub_wrenchLeft">
        <node name="icub_wrenchLeft_publisher" pkg="testbot_description" type="icub_wrenchLeft_publisher" />
    </group>
    <group ns="fp">
        <arg name="fpModel" />
        <arg name="gui" default="False" />
        <param name="robot_description" textfile="$(arg fpModel)"  />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

</launch>
